body {
  /* For Background */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* 배경 이미지를 컨테이너에 맞게 자동으로 조절합니다. */
  background-position: center; /* 배경 이미지를 가운데로 정렬합니다. */
  
  /* For Child Elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* 텍스트 색상을 흰색으로 지정합니다. */
}

.timeStyle {
  font-size: 7vw;
  color: white;
  font-weight: 600;
  margin: 20px;
}

.toDoItemStyle {
  color: white;
  font-size: 1.5vw;
  margin: 10px 10px 0px 10px;
  display: flex;
  align-items: center;
}

.checkboxStyle {
  transform: scale(2);
  margin: 0 15px 0 0;
}

.deleteButtonStyle {
  background-image: url('./img/trash.png');
  background-size: cover;
  border-width: 0;
  background-color: transparent;
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin: 0 0 0 15px;
}

.toDoInputStyle {
  width: 30vw;
  outline: 0; /* 입력창에 포커스가 잡혔을 때, 테두리 투명화 */
  border-width: 0 0 3px; /* 아래쪽 border만 3px 굵기로 설정 */
  border-color: white;
  font-size: 2vw;
  background-color: transparent;
  caret-color: white; /* 입력 커서 색상 */
  text-align: center;
  color: white;
}

::placeholder {
  color: white;
}